
<!doctype html public "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Download guestbook.rar - Free Open Source Codes - CodeForge.com </title>
<META NAME="description" CONTENT="Download guestbook.rar Search and download  open source project / source codes from CodeForge.com ">
<META NAME="keywords" CONTENT="Download guestbook.rar, source codes, opensource, c++, python, java, perl, visual C++, c#, visual basic, javascript, c language, programming, download ">
<link href="/style.css" rel="stylesheet" type="text/css">
<!--[if IE]><script src="/html5.js"></script><![endif]-->
</head>

<body>



<div id="wrapper">
  <header>
    <div id="topmenu">
       <div id="topmenuleft">
         <div id="topMenu" class="ddsmoothmenu">
		   <ul id="menu-%e9%a1%b6%e9%83%a8%e8%8f%9c%e5%8d%95" class="menu">
		     <li id="menu-item-2288" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-2288">
		      <a href="/">Home</a></li>
             <li id="menu-item-2289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2289">
		      <a href="mailto:support@codeforge.com">Contact us</a></li>
           </ul>
		 </div>		 
       </div> <!-- topmenuleft -->
	   <div id="topmenuright">
		 <ul>          
							<li class='userlink'><a href="/login">Login / Signup</a></li>
				
			

            <li class="rssnav"><a href="/">RSS</a></li>
            <li>Language/??:</li>
			<li><a href="http://www.codeforge.com/" onclick="window.location.href = window.location.href.replace(/codeforge.cn/i, 'codeforge.com');return false;"><img border=0 src="/images/country_icons_large/us.png" width=28 style='margin-top:-5px;'></a></li>
			<li><a href="http://www.codeforge.com" onclick="window.location.href = window.location.href.replace(/codeforge.com/i, 'codeforge.cn');return false;"><img border=0 src="/images/country_icons_large/cn.png" width=28 style='margin-top:-5px;'></a> </li>
          </ul>
        </div> <!-- topmenuright-->
	 </div> <!-- topmenu -->

     <div id="logowrap">
	   <div id="logo">
		<table cellpadding="0" cellspacing="0" border="0"><tr><td width=300 border="0">
		  <a style="text-decoration:none" href="http://www.codeforge.com"> <!--<img src="" alt="codeforge.com" />-->	    
	      <H1 style="font-size:30px;;margin-bottom:10px;">CodeForge.com</H1></a>  		  
		  <span>Free Open Source Codes Forge and Sharing</span>
		</td><td  border="0">
		  <!-- Place this tag where you want the +1 button to render. -->
		  <div class="g-plusone" data-size="medium"></div>
		</td></tr></table>		  
	   </div> <!-- logohead -->
	   <div id="logohead">
          <div id="headad"></div>
          <div id="twfb">
		     <ul>  
			 <li>
			    <form method="POST" id="footersearch" name="footersearch" action="/">
					<input type="text" name="q" value="" onblur="if(this.value=='') this.value='Please input keyword';" onfocus="if(this.value=='Please input keyword') this.value='';" id="s" />
					<input type="submit" value=" " id="searchsubmit" />
				</form>    
			 </li>
			 </ul>
		  </div>
       </div> <!-- logohead -->
	 </div> <!-- logowrap -->

	 <nav>
		<div id="navigation">
			<div id="nav" class="ddsmoothmenu1">
			<ul id="menu-nav" class="menu">
			<!--<li><a href="/s/0/proglang__1">C</a></li>-->
			<li><a href="/s/0/proglang__4">C/C++</a></li>
			<li><a href="/s/0/proglang__6">C#</a></li>
			<li><a href="/s/0/proglang__2">Java</a></li>
			<li><a href="/s/0/proglang__5">VB</a></li>
			<li><a href="/s/0/proglang__20">Matlab</a></li>
			<li><a href="/s/0/proglang__3">PHP</a></li>
			<li><a href="/s/0/proglang__37">ASP</a></li>
			<li><a href="/s/0/proglang__7">Python</a></li>
			<li><a href="/s/0/proglang__8">Perl</a></li>
			<li><a href="/s/0/proglang__11">Ruby</a></li>
			<li><a href="/s/0/proglang__9">Delphi</a></li>
			<li><a href="/s/0/proglang__10">JavaScript</a></li>
			<li><a href="/s/0/proglang__12">Objective-C</a></li>
			<li><a href="/s/0/proglang__17">Pascal</a></li>
			<li><a href="/s/0/proglang__29">Fortran</a></li>
			</ul>
			</div>
		</div>
	  </nav>

  </header>

<script>
//set the default value of query input box
if (document.footersearch.q.value == '') {
	document.footersearch.q.value= 'Please input keyword';
}
</script>


 <section>
  <!--
  <div id="headgal">
    <div id="featured" style="padding-left: 14px !important;">
    </div>
  </div>
  -->
  <div id="content_left">	 
    <!--<div id="indextop">	 </div>-->
    <div id="homepost">



		<div style='width:100%;margin-left:auto;margin-right:auto;' align=center>		
			<H2>guestbook.rar  (211.40 kB) Sourcecodes download </H2>
				

<div style="text-align:left; border: 0px dashed #dddddd; width:730px; padding: 2px 0px 2px 0px; margin: 5px 0px 5px -3px;">

   <span style="font-size:12px;color=#616161"> &nbsp; &nbsp; Sponsored links</span>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5238775468331658";
/* cf_en_index */
google_ad_slot = "6115717927";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

	
	


		</div>
		<br>
		<div style='width:100%;margin-left:auto;margin-right:auto;' align=center>		
			<a href="/article/148453"><span align=center style="font-size: 16px;color: green;font-weight:bold;">Shanghai digital book system version 2.1 software Language: English License: Fre...</span> description link</a>
		</div>
		<br>

		<div style='width:100%;margin-left:auto;margin-right:auto;' align=left>	

					
			
			
			<div style='width:100%;margin-left:auto;margin-right:auto;display:none;'  id='div_dl' align=left>	
			<!-- <div style='width:100%;margin-left:auto;margin-right:auto;'  id='div_dl' align=left>	 -->
				<form method='POST' action='/dl'>
					<input type=hidden name="f" value='0af7f1a671a9.rar'>
					<img id="captcha" src="/captcha" alt="CAPTCHA Image" /> 
					<a href="#" onclick="document.getElementById('captcha').src = '/captcha?' + Math.random(); return false">Reload image</a>
					<br>
					Please input codes above: <input type="text" name="captcha_code" size="10" maxlength="6" /> <br>
					<input type=submit value=' Download now! '>
				</form>
			</div>

			<span style='font-size:12px;' id="waitinfo"></span>

			<script type="text/javascript"> 
				var secs = 5;
				
				var wait = secs * 1000;				

				var container = document.getElementById('waitinfo');
				var div_dl = document.getElementById('div_dl');
				
				if (container != null) {
					container.innerHTML = "Please wait " + secs + " senconds before downloading...";
					
					for(i = 1; i <= secs; i++) {
						window.setTimeout("update(" + i + ")", i * 1000);
					}
					
					window.setTimeout("timer()", wait);
					function update(num, value) {
						if(num == (wait/1000)) {
							container.innerHTML = "";
						} else {
							printnr = (wait / 1000) - num;
							container.innerHTML = "Please wait " + printnr + " senconds before downloading...";
						}
					}
					function timer() {
						container.innerHTML = "";
						div_dl.style.display="";
					}
			}
			</script> 

			
			

		</div>

		<br><br>

		<div style='width:100%;margin-left:auto;margin-right:auto;' align=left>

	

<div style="text-align:left; border: 0px dashed #dddddd; width:730px; padding: 2px 0px 2px 0px; margin: 5px 0px 5px -3px;">

   <span style="font-size:12px;color=#616161"> &nbsp; &nbsp; Sponsored links</span>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5238775468331658";
/* cf_en_index */
google_ad_slot = "6115717927";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

	
	


<br>

<!--
<table width=100%>
<tr><td>

				
</td><td>
				
</td></tr>
</table>
-->

		</div>


<br>


		<div style='width:100%;margin-left:auto;margin-right:auto;' align=left>	

			<div id="sidebartitlewrapper"><h4>File List</h4></div>
				

<div style="text-align:left; border: 0px dashed #dddddd; width:730px; padding: 2px 0px 2px 0px; margin: 5px 0px 5px -3px;">

   <span style="font-size:12px;color=#616161"> &nbsp; &nbsp; Sponsored links</span>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5238775468331658";
/* cf_en_index */
google_ad_slot = "6115717927";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

	
	


			<pre>#sunbtob.asp	282624	22-08-07|14:55
database	0	04-07-07|11:24
1.gif	610	24-06-07|01:24
10.gif	556	24-06-07|01:24
11.gif	580	24-06-07|01:24
12.gif	743	24-06-07|01:24
13.gif	491	24-06-07|01:24
14.gif	532	24-06-07|01:24
15.gif	528	24-06-07|01:24
16.gif	1098	24-06-07|01:24
17.gif	670	24-06-07|01:24
18.gif	685	24-06-07|01:24
19.gif	849	24-06-07|01:24
2.gif	574	24-06-07|01:24
20.gif	592	24-06-07|01:24
21.gif	624	24-06-07|01:24
22.gif	757	24-06-07|01:24
23.gif	759	24-06-07|01:25
24.gif	638	24-06-07|01:25
25.gif	736	24-06-07|01:25
26.gif	695	24-06-07|01:25
27.gif	736	24-06-07|01:25
28.gif	643	24-06-07|01:25
29.gif	707	24-06-07|01:25
3.gif	598	24-06-07|01:25
30.gif	816	24-06-07|01:25
4.gif	572	24-06-07|01:25
5.gif	518	24-06-07|01:25
6.gif	618	24-06-07|01:25
7.gif	488	24-06-07|01:25
8.gif	583	24-06-07|01:25
9.gif	507	24-06-07|01:25
face	0	04-07-07|11:24
0.gif	1793	24-06-07|01:26
1.GIF	1528	24-06-07|01:26
10.GIF	1751	24-06-07|01:26
11.GIF	5126	24-06-07|01:26
12.GIF	1683	24-06-07|01:26
13.gif	1455	24-06-07|01:26
14.gif	1539	24-06-07|01:26
15.gif	1507	24-06-07|01:26
16.gif	1565	24-06-07|01:26
17.gif	1240	24-06-07|01:26
18.gif	2429	24-06-07|01:26
19.gif	3766	24-06-07|01:26
2.gif	2273	24-06-07|01:26
20.gif	1409	24-06-07|01:26
22.gif	1505	24-06-07|01:26
23.gif	1920	24-06-07|01:26
3.GIF	1271	24-06-07|01:26
4.GIF	1852	24-06-07|01:26
5.GIF	1532	24-06-07|01:26
6.GIF	2649	24-06-07|01:26
7.GIF	2314	24-06-07|01:26
8.GIF	2583	24-06-07|01:26
9.gif	1543	24-06-07|01:26
icons	0	04-07-07|11:24
001.gif	690	24-06-07|01:27
20051221031123696.gif	3529	24-06-07|01:27
200512210321339359.gif	3529	24-06-07|01:27
200512210324539655.gif	595	24-06-07|01:27
200752923373144076.jpg	22655	24-06-07|01:27
20076214421269351.jpg	4688	24-06-07|01:27
84.gif	411	24-06-07|01:27
add.gif	700	24-06-07|01:27
add.gif.psd	45249	24-06-07|01:28
admin.gif	595	24-06-07|01:28
banner_sunbtob.swf	35136	24-06-07|01:28
bg.gif	43	24-06-07|01:28
bg_1.gif	43	24-06-07|01:28
bgbottom.gif	380	24-06-07|01:28
bgpic.gif	1082	24-06-07|01:28
bgtop.gif	379	24-06-07|01:28
bookmark.gif	88	24-06-07|01:28
del.gif	130	24-06-07|01:28
dot.gif	37	24-06-07|01:28
endbg.gif	506	24-06-07|01:28
friend.gif	135	24-06-07|01:28
home.gif	84	24-06-07|01:28
index_0.gif	590	24-06-07|01:28
ip.gif	133	24-06-07|01:28
line1.gif	237	24-06-07|01:28
lit_back2.gif	809	24-06-07|01:28
loading.gif	4678	24-06-07|01:28
logo.gif	3529	24-06-07|01:28
logout.gif	501	24-06-07|01:28
mail.gif	155	24-06-07|01:28
n11.gif	3446	24-06-07|01:28
n14.gif	3668	24-06-07|01:28
n22.gif	3722	24-06-07|01:28
n24.gif	3042	24-06-07|01:28
n7.gif	3725	24-06-07|01:28
new.gif	570	24-06-07|01:28
password.jpg	1902	24-06-07|01:28
Products_index_dt100.gif	269	24-06-07|01:28
qq.gif	128	24-06-07|01:28
reply.gif	138	24-06-07|01:28
Service_index_top_bg04.gif	197	24-06-07|01:28
url.gif	142	24-06-07|01:28
images	0	04-07-07|11:24
ad.asp	3089	03-07-07|22:04
add.asp	18662	03-07-07|22:04
change.asp	2055	24-06-07|01:28
cklogin.asp	544	24-06-07|01:28
conn.asp	750	03-07-07|22:04
copyright.asp	961	22-08-07|14:43
del.asp	305	24-06-07|01:29
index.asp	14586	03-07-07|22:04
justine.inc	4675	24-06-07|01:29
justs.asp	5871	24-06-07|01:29
login.asp	1620	24-06-07|01:29
logout.asp	58	24-06-07|01:29
notice.asp	2318	24-06-07|01:29
photo.asp	2363	24-06-07|01:29
Readme.htm	668	24-06-07|01:29
reply.asp	2602	24-06-07|01:29
save.asp	1648	03-07-07|22:06
sqlzr.asp	2433	03-07-07|22:04
style.css	1555	24-06-07|01:29
style1.css	1555	24-06-07|01:29
top.asp	3336	24-06-07|01:29
ubbcode.asp	8416	24-06-07|01:29
ubbhelp.htm	2632	24-06-07|01:29
upamy.asp	2338	24-06-07|01:29
upfileamy.asp	3052	24-06-07|01:29
guestbook	0	05-06-07|14:28</pre>
		</div>
	



	</div> <!-- homepost -->
</div> <!-- content -->


  <aside_right>	
	<!--<div id='aside_content'> 		-->
	<div id='sidebar'>


		 <div class='section'> <!-- User section -->

			 				
					<div id="sidebartitlewrapper"><h4>User Login</h4></div>
					 <div class="sectioncont">
						<form name="login" method="post" action="/login" >		
						<dl>
							<dt><label for="email">User ID (E-mail):</label></dt>
							<dd><input type="text" name="email" id="email" value=""/></dd>
							<dt><label for="password">Password:</label></dt>
							<dd><input type="password" name="password" id="password" value=""/></dd>
							<dt><label for="captcha">Verification Code:</label><dt>
							<dd valign=top><input type="text" name="captcha" id="captcha"/> <img style='margin-bottom:-10px;'; width=90 src="/captcha" alt="Captcha" title="Captcha security image"/></dd>
							<p/>
							<dd><input type="submit" value="Submit"/> 
							&nbsp;&nbsp; <a href="/login">Sign up</a>
							&nbsp;&nbsp; <a href="/resetpw">Forgot password?</a>
							</dd>
						</dl>
						</form>	
					</div> <!-- login -->

				
			
			 
		</div> <!-- User section -->


		<div class='section'>
			<div id="sidebartitlewrapper"><h4>Poll</h4></div>
			<div class="sectioncont">
				<script>

var pollid=6;
var r = Math.random();
if (r < 0.25)
	pollid = 6;
else if (r < 0.5)
	pollid = 8;
else if (r < 0.75)
	pollid = 10;
else 
	pollid = 12;


document.write("<iframe src='http://poll.codeforge.cn/poll/iframe.php?pollId="+pollid+"' scrolling='no' frameborder='0' width='290' height='1000'></iframe>");


</script>


			</div>	
		</div>
	</div> <!-- sidebar aside_content -->
  </aside_right> <!-- aside -->


</section>

<br>


<br>



</div><!-- #wrapper -->





<footer>

  <div id="footer1">
    <div id="footerwrapper1">
	  <div id="fsidebar1"></div>
      <div id="fsidebar2"></div> 
      <div id="fsidebar3"></div>   
      <div id="fsidebar4">
	    <div class="widget">
          <ul>
  		   <h3>
           <p><a href="mailto:support@codeforge.com">Contact us</a> | <a href="mailto:support@codeforge.com">Your Ads here</a></p>
		   </h3>
		  </ul>
        </div>
      </div>
	  <div style="clear: both;"> </div> 
     </div> <!-- fsidebar4 -->
  </div> <!-- footer1 -->




  <div id="footer2">
    <div id="footerwrapper2"> 
      <div id="fotnav">
		 	<ul id="fnav">  
			<center>  </center>	
			</ul> 
       </div> <!-- fotnav -->
	   <div id="fotbot">
          <div class="fotlogoleft"> 
		    <div class="fotcopy">   
              <div id="copyright">			     
			    <p><a href="">CodeForge.com</a>  is powered by <a href="http://www.codeforge.com/">CodeForge Dev Team</a>  &nbsp; Elapsed:12.738ms</p>
              </div>
			</div> 

          </div> <!-- fotbot -->
		  <div class="fotlogoright">
		    <ul id="skyline"> 
               <li id="pad1"> </li>
               <li>
					<form method="POST" id="footersearch" name="footersearch2" action="/">
					<input type="text" name="q" value="" onblur="if(this.value=='') this.value='Please input keyword';" onfocus="if(this.value=='Please input keyword') this.value='';" id="s" />
					<input type="submit" value=" " id="searchsubmit" />
					</form>              
               </li> 
		    </ul>
          </div> <!-- fotlogoright -->
		  <div id="cb">
		  </div>
       </div> <!-- fotbot -->

	</div> <!-- footerwrapper2-->
  </div> <!-- footer2 -->



</footer>


<script>
//set the default value of query input box
if (document.footersearch2.q.value == '') {
	document.footersearch2.q.value= 'Please input keyword';
}
</script>



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1833997-36']);
  _gaq.push(['_setDomainName', 'codeforge.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=7867179; 
var sc_invisible=1; 
var sc_security="e780d838"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="tumblr hit
counter" href="http://statcounter.com/tumblr/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7867179/0/e780d838/1/"
alt="tumblr hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->



<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</body>
</html>

